<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <h1><a href="/"> Bigfoot Sightings</a></h1>
    <h2><%= header %></h2>
    <label>Sort by:</label>
    <form action="">
      <select name="sortBy" id="sortBy">
        <option value="year">Year</option>
        <option value="state">State</option>
      </select>
      <select name="order" id="order">
        <option value="asc">Asc</option>
        <option value="desc">Desc</option>
      </select>
      <button type="submit">Sort</button>
    </form>
    <ol>
      <% sightings.forEach((sighting, index) => { %>
      <li>
        <a href="<%= `/sightings/${sighting.REPORT_NUMBER}` %> "> <%= `Sighting no. ${sighting.REPORT_NUMBER}` %> </a>
      </li>
      <% }) %>
    </ol>
  </body>
</html>
