<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= header %></h1>
    <% sightings.forEach((sighting, index) => { %>
    <div>
      <h2><%= `${index+1}. Sighting: ${sighting.REPORT_NUMBER}` %></h2>
    </div>
    <% }) %>
  </body>
</html>
